#dodgebomb #viewport {
  background: #4c9ae5;
  border: 5px solid red;
  height: 360px;
  left: 378px;
  position: absolute;
  overflow: hidden;
  top: 42px;
  width: 640px;
}

#dodgebomb #player {
  background: green;
  bottom: 21px;
  height: 5px;
  left: 21px;
  position: absolute;
  width: 100px;
}